html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Crimson Text";
  font-style: normal;
  font-size: 1.125rem;
  color: #222;
  margin: 0;
}

article {
  font-family: "Crimson Text";
  font-style: normal;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #222;
}

article header {
  font-size: 1.125rem;
  padding-left: 1em;
  padding-right: 1em;
  color: #222;
}

article h1 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #222;
  margin-bottom: 0;
}

article header p {
  font-family: "Crimson Text";
  font-style: italic;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: solid 2px;
  margin-bottom: 1.3px;
  color: #555;
}

article p {
  font-family: "Crimson Text";
  font-style: normal;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3rem;
  color: #222;
}

blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3rem;
  margin: 0 auto;
  color: #999;
}

.quote {
  font-family: "Crimson Text";
  font-style: normal;
  font-size: 1.125rem;
}

article ol {
  font-family: "Crimson Text";
  font-style: normal;
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.3rem;
  color: #222;
}
